.signup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: #303030;
}

.form-signup {
    width: 1000px;
    background-color: #fff;
    border: 2px solid #000;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000; 
}

.form-signup .create-account {
    position: relative;
}

.form-signup h1 {
    text-align: center;
    padding: 30px;
}

.form-signup input {
    width: 95%;
    height: 100%;
    background-color: FFF;
    outline: none;
    border: 2px solid #000;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 25px;
    margin: 0 20px 25px;
}

.form-signup input::placeholder {
    color: #000;
}

.create-account {
    display: flex;
}

.create-account input {
    display: flex;
    width: 100%;
    height: 100%;
    background-color: FFF;
    outline: none;
    border: 2px solid #000;
    border-radius: 40px;
    font-size: 16px;
    padding: 20px 25px;
    margin: 0 20px 25px;
}

.create-account input::placeholder {
    color: #000;
}

.create-account .icon-email,
.create-account .icon-cpf {
    position:relative;
    left: -65px;
    top: 50%;
    transform: translateY(100%);
    font-size: 20px;
}

.create-account .icon-password,
.create-account .icon-adress {
    position: absolute;
    right: 45px;
    top: 35%;
    transform: translateY(-50%);
    font-size: 20px;
}

.div-signup-btn {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.form-signup .signup-btn {
    width: 17%;
    height: 50px;
    background-color: #FECC00;
    border: 1px solid #303030;
    outline: none;
    border-radius: 40px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
}

.form-signup .signup-btn:hover {
    background-color: #b89302;
}

.return-btn {
    border: none;
}

.icon-return {
    position: fixed;
    border: none;
    width: 50px;
    height: 15px;
    color: #000;
    margin-left: 5px;
}

.icon-return:hover {
    position: fixed;
    width: 55px;
    height: 17px;
}
