/* App.css */
*{
  background-color: #221f1f;
  color: #fff;
}

.App-container-addcarros {
  margin-top: 20px;
  padding: 20px;
}

.App-container-addcarros h2 {
  margin-bottom: 10px;
}

.App-container-addcarros ul {
  list-style-type: none;
  padding: 0;
}

.App-container-addcarros li {
  margin-bottom: 10px;
}

.App-container-addcarros button {
  margin-left: 10px;
}

.App-container-addcarros .pagination {
  margin-top: 10px;
}

.App-container-addcarros .pagination button {
  margin-right: 5px;
}

.App-container-addcarros .pagination button.hide {
  display: none;
}
