/* App.css */

.App {
  font-family: Arial, sans-serif;
  text-align: center;
}

.App-header {
  background-color: #FFF;
  padding: 20px;
  color: #000;
}

.App-container-addcarros {
  margin-top: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Alinhar o h2 "Lista de Carros" à esquerda */
.list-title {
  text-align: left;
  margin-bottom: 10px;
  margin-left: 20px;
}

.App-container-addcarros input[type='text'],
.App-container-addcarros select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}

.App-container-addcarros ul {
  list-style-type: none;
  padding: 0;
}

.App-container-addcarros li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-container-addcarros .carro-info {
  align-items: left;
}

.App-container-addcarros .btn-ex-edit {
  display: flex;
  align-items: center;
}

.App-container-addcarros .btn-ex-edit button {
  margin-left: 10px;
  margin-right: 10px;
}

.App-container-addcarros .btn-ex-edit button:last-child {
  margin-left: 0;
}

.App-container-addcarros li button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #FECC00;
  color: #000;
  transition: 0.3s;
}

.App-container-addcarros li button.active {
  background-color: #b89302;
}

.App-container-addcarros li button:hover {
  background-color: #b89302;
}

.App-container-addcarros .pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.App-container-addcarros .pagination button {
  margin-right: 5px;
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #FECC00;
  color: #000;
  transition: 0.3s;
}

.App-container-addcarros .pagination button.active {
  background-color: #b89302;
}

.App-container-addcarros .pagination button:hover {
  background-color: #b89302;
}

.App-container-addcarros .pagination button.hide {
  display: none;
}

/* Botões de editar e excluir */
.App-container-addcarros .btn-ex-edit {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.App-container-addcarros .btn-ex-edit button {
  margin-left: 10px;
}

.App-container-addcarros .btn-ex-edit button:last-child {
  margin-left: 0;
}

.App-container-addcarros-bottom {
  position: fixed;
  bottom: 120px; /* Alteração da posição do elemento */
  left: 50%;
  transform: translateX(-50%);
  z-index: 10;
}

.btn-form {
  position: fixed;
  bottom: 760px;
  right: 3%;
  transform: translateX(50%);
}

.add-button {
  width: 40px; /* Tamanho alterado para 40px */
  height: 40px; /* Tamanho alterado para 40px */
  padding: 0;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 50%;
  background-color: transparent;
  color: #000;
  transition: 0.3s;
  display: flex;
  justify-content: center;
  align-items: center;
}

.add-button:hover {
  width: 45px; /* Aumenta o tamanho ao passar o mouse */
  height: 45px; /* Aumenta o tamanho ao passar o mouse */
}

.plus-icon {
  font-size: 25px; /* Tamanho aumentado para 25px */
}

/* Novo estilo */
.add-carro-form {
  position: fixed;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #FFF;
  width: 400px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: opacity 0.3s ease-in-out;
  opacity: 0;
  pointer-events: none;
  z-index: 1;
}

.add-carro-form.active {
  opacity: 1;
  pointer-events: auto;
}

.btn-salvar-form {
  margin-left: 40%;
  width: 20%;
}

.salvar-button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #FECC00;
  color: #000;
  transition: 0.3s;
}

.salvar-button:hover {
  background-color: #b89302;
}

.form-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
}

.fechar-button {
  padding: 8px 16px;
  cursor: pointer;
  border: none;
  border-radius: 4px;
  background-color: #FECC00;
  color: #000;
  transition: 0.3s;
}

.fechar-button:hover {
  background-color: #b89302;
}